@import "tailwindcss";

@font-face {
    font-family: "urbanist";
    src: url('../fonts/font2.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 20px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    scroll-behavior: smooth;
    background-color: #f8f8f8;
}

.custom-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

button,
a {
    cursor: pointer;
    transition: color 0.1s linear;
}

button:hover,
a:hover {
    color: #E66700;
}


i {
    font-size: 25px;
    opacity: 0.5;
    font-weight: lighter;
}

.active {
    color: #E66700;
}

.search i {
    font-size: 20px;
    opacity: 0.7;
}

.float-animation {
    animation: imgUpDown 3s linear infinite;
}

@keyframes imgUpDown {
    0% {
        transform: translateY(-3%)
    }

    25% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(3%);
    }

    100% {
        transform: translateY(-3%);
    }
}


.bg-gradient {
    background: radial-gradient(circle at 30% 25%, #424242cc 0, #0000 50%), radial-gradient(circle at 75% 35%, #1e1e1ecc 0, #0000 55%), radial-gradient(circle at 45% 75%, #424242cc 0, #0000 50%), #1e1e1e;
    ;
}

.bg-gradient-orange {
    background: linear-gradient(45deg, #ffc600, #f46c00, #fb471f, #f46c00, #ffc600) 0 0 / 100% 100%;
}

.shadow-custom {
    box-shadow: 0 0 6px 0px rgb(224, 224, 224);
}

@media screen and (min-width: 1024px) {
    .custom-container {
        max-width: 90%;
        width: 100%;
        margin-inline: auto;
    }
}